.title{
    color: white;
    margin-bottom: 2vw;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 45vh; */
}
.play{
    font-size: 1vw;
    width: 180%;
    height: 2.6vw;
    border-radius: 1.3vw;
    color: white;
    background-color: #0AB306;
}
